<h2>All Rims:</h2>
<div *ngIf="rimList">
    <table>
        <thead>
            <th>Rim ID</th>
            <th>Manufacturer</th>
            <th>Description</th>
            <th>Date Acquired</th>
            <th>Spoke Holes</th>
        </thead>
        <tbody>
            <tr *ngFor="let rim of rims">
                <td>
                    <label>
                        <input type="radio" id="{{rim.id}}" name="rimID" [value]="rim.id" (change)="selectedRim(rim.id)" [checked]="(rimSelected === rim.id)? true : false">
                    </label>
                </td>
                <td>{{rim.manufacturer}}</td>
                <td>{{rim.description}}</td>
                <td>{{rim.dateAcquired}}</td>
                <td>{{rim.spokeHoles}}</td>
            </tr>
        </tbody>
    </table>
    <button (click)="previousPage ()">Previous Page</button>
    <button (click)="nextPage ()">Next Page</button>
    <p>
    {{pageStart}} to {{pageEnd}} of {{totalRims}}
    </p>
    <p>
    Page {{currentPage}} of {{rimList.page.totalPages}}
    </p>
</div>
